---

---

@import 'reset';

$baseurl: '{{ site.baseurl }}';
$border-color: white;
$border-width: 1px;
$breakpoint: 650px;
$monospace: 'PitchLight', monospace;

@font-face {
  font-family: 'PitchLight';
  src: url($baseurl + '/fonts/Pitch-Light.otf') format('opentype');
}


* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background-color: black;
  background-image: url($baseurl + "/images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $monospace;
  margin: 0;
}

@import 'align';
@import 'borders';
@import 'colors';
@import 'display';
@import 'fonts';
@import 'forms';
@import 'margin';
@import 'padding';
@import 'position';
@import 'text';
@import 'width';

@import 'donate';
@import 'links';
@import 'page';
@import 'signup';
