---

---

@import 'reset';

$baseurl: '{{ site.baseurl }}';
$breakpoint: 650px;

@font-face {
  font-family: 'PitchLight';
  src: url($baseurl + '/fonts/Pitch-Light.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background-color: black;
  background-image: url($baseurl + "/images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
  margin: 0;
}

h1,
h2,
h3,
p,
a,
input {
  font-family: 'PitchLight', monospace;
  font-weight: 100;
}

@import 'page';
@import 'signup';
