* {
  box-sizing: border-box;
  font-family: monospace;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  align-items: center;
  background-image: url('op45-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  font-family: monospace;
  height: 100%;
  margin: 0;
}

main {
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 2rem;
  width: 30%;
}

@media all and (max-width: 500px) {
  body {
    width: 100%;
  }

  main {
    margin: 0;
    width: 100%;
  }

  input {
    width: 100% !important;
  }
}

h1, h2, h3 {
  font-weight: 100;
}

#mc_embed_signup {
}

label {
  display: none;
}

input[type="email"] {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 1rem .5rem;
  width: 100%;
}

input[type="submit"] {
  background-color: black;
  border: 1px solid white;
  border-radius: 0;
  color: white;
  font-size: 1rem;
  padding: .7rem .3rem;
}

input[type="submit"]:hover {
  background-color: #333;
  color: lightgrey;
  cursor: pointer;
}
