<form id='donate-form-container' class='border mx-auto p2 width-90'>
  <div id='donate-form-msg'></div>
  <div id='donate-form'>
    <h2 class='monospace'>Donate now</h2>

    <div class='flex sm-flex-col'>
      <label class='flex-grow monospace' for='amount'>Donation amount</label>
      <div class='relative us-currency'>
        <input type='number' class='bg-black border-none monospace ptiny pl2 white width-100' name='amount' id='amount' value='45' min='1' required>
      </div>
    </div>

    <div class='flex mt1'>
      <div class='flex-grow'>
          <input type="radio" name="donate-frequency" id="donate-frequency-onetime" value="onetime" checked >
          <label class='inline-block monospace' for="donate-frequency-onetime"  onclick=""> One time donation</label>
      </div>
      <div class='flex-grow'>
          <input type="radio" name="donate-frequency" id="donate-frequency-monthly" value="monthly" >
          <label class='inline-block monospace' for="donate-frequency-monthly" onclick="">Monthly donation</label>
      </div>
    </div>

    <div class='flex flex-col mt2'>
      <label class='flex-grow monospace'>Credit Card</label>
      <div id='stripe-target' class='bg-white ptiny'></div>
    </div>

    <div class='flex flex-col mt2'>
      <label class='flex-grow monospace' for='email'>Email address</label>
      <input type='email' class='monospace ptiny' name='email' id='email' placeholder='Email address' required>
    </div>

  </div>
  <input class='bg-black border border-white color monospace mt2 p1 white width-100' type='submit' value='Donate'>
</form>
