<form id='donate-form-container'>
  <div id='donate-form-msg'></div>
  <div id='donate-form'>
    <label for='email'>Email address</label>
    <input type='email' name='email' id='email' placeholder='email address' required>
    <label for='amount'>Donation amount</label>
    <input type='number' name='amount' id='amount' placeholder='donation amount (usd)' min='1' required>
    <label for='monthly'>Donate every month?</label>
    <input type='checkbox' name='monthly' id='monthly' required>
    <div id="stripe-target"></div>
  </div>
  <input type='submit' value='donate' class='button'>
</form>
