.bg-black { background-color: black; }
.bg-gray {
  background-color: #ccc;
  background-color: rgba(200, 200, 200, 0.9);
}
.bg-white { background-color: white; }

.black { color: black; }
.white { color: white; }
