.light { font-weight: 100; }
.monospace { font-family: $monospace; }
.serif { font-family: 'Slabo 27px', serif; }

.fs1 { font-size: 1rem; }
.fs2 { font-size: 1.2rem; }
.fs3 { font-size: 1.7rem; }
.fs4 { font-size: 2rem; }
.fs5 { font-size: 2.5rem; }

@media all and (max-width: $breakpoint) {
  .sm-fs1 { font-size: 1rem; }
  .sm-fs2 { font-size: 1.2rem; }
  .sm-fs3 { font-size: 1.7rem; }
}
