#donate-form {
  .us-currency::before {
    content: '$';
    color: white;
    font-family: $monospace;
    left: 3%;
    position: absolute;
    top: 15%;
  }

  input[type="radio"]{
    visibility:hidden;
  }

  input[type="radio"] + label {
    background-color: #c5c2c2;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    padding: 1rem;
    color: #b5b2b2;
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    background-color: #333;
    border-color: #000000;
    color: #c5c2c2;
  }
}
