.signup {
  background-image: url($baseurl + "/images/redacted-texbox-bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 441px;
  margin: 0 auto;
  margin-top: 9rem;

  @media all and (max-width: $breakpoint) {
    background-color: black;
    height: auto;
    margin-top: 7rem;
    padding: 1rem;
  }

  > div {
    margin-left: 70px;
    padding-top: 80px;
    width: 460px;

    @media all and (max-width: $breakpoint) {
      margin: 0 auto;
      padding: 0;
      width: 80%;
    }
  }
}
