<!doctype html>
<html lang='en'>
  <head>
    <title>{{ site.title }}</title>
    <link rel='stylesheet' href={{ '/css/main.css' | prepend: site.baseurl }}>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% include social-headers.html %}
  </head>
  <body>
    {% include tweet-button.html %}

    {{ content }}
    <script src='https://js.stripe.com/v3/'></script>
    <script src={{ '/scripts/fetch.js' | prepend: site.baseurl }}></script>
    <script src={{ '/scripts/promise.min.js' | prepend: site.baseurl }}></script>

    {% for script in page.scripts %}
      <script src='{{ site.baseurl }}/scripts/{{ script }}'></script>
    {% endfor %}

  </body>
</html>
